.container {
  height: 400px;
  width: 80%;
  border: 1px solid black;
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  overflow-y: scroll;
}

.box {
  height: 40px;
  width: 15%;
  margin: 8px;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
